h1 {
    text-align: center;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    border: thick solid black;
    height: 640px;
    width: 640px;
}

#innerdiv {

    box-sizing: border-box;
    border: 1px solid black;
}